@page "/posts/delete/{postId}"

@inject IPostRepository PostRepo
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime

<h3>Delete</h3>

<h1>@post.Title</h1>

<button class="btn btn-danger" @onclick="(() => OnDelete(postId))">Delete</button>

<button class="btn btn-secondary" @onclick="OnReturn">Back</button>

@code {
    [Parameter]
    public string postId { get; set; }

    private PostDto post = new();

    protected override async Task OnInitializedAsync()
    {
        post = await PostRepo.GetByIdAsync(EndPoint.PostEnpoint, Convert.ToInt32(postId));
    }

    private async Task OnDelete(string id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var isSuccess = await PostRepo.DeleteAsync(EndPoint.PostEnpoint, Convert.ToInt32(postId));
            if (isSuccess)
                OnReturn();
        }
    }

    private void OnReturn()
    {
        NavManager.NavigateTo("/posts");
    }
}
